* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card-description::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-description {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
