* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
.modeIcon {
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  padding: 7px;
  cursor: pointer;
}
